/* Base de colores generales: */

:root {
    --colorFondoMain: rgb(241, 241, 241);
    --colorLetrasCabecera: beige;
    --colorFondoSecciones: rgb(255, 255, 255);
    --colorLineasSecciones: #070777;
    --colorResplandor: #00008b;
    --colorFondoCabeceraYPie: #040418;
    --colorLinks: blue;
}

/* Cuerpo de la página y secciones generales: */

body {
    font-family: Arial, sans-serif;
    background-color: var(--colorFondoMain);
    margin: 0;
}

header, main, footer {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
    background-color: var(--colorFondoCabeceraYPie);
    color: var(--colorLetrasCabecera);
}

main {
    background-color: var(--colorFondoMain);
}

section {
    background-color: var(--colorFondoSecciones);
    margin-bottom: 10px;
    padding: 15px;
    text-align: center;
    border: 2px solid var(--colorLineasSecciones);
    border-radius: 5px;
    transition: all 0.5s ease;
}

section:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 1px var(--colorResplandor), 0 0 5px var(--colorResplandor), 0 0 15px var(--colorResplandor);
}

/* Animación extra: */

.divisor {
    height: 2px; /* Grosor de la línea */
    background-color: var(--colorFondoCabeceraYPie); /* Color de la línea */
    width: 30%; /* Ancho inicial pequeño */
    margin: 20px auto; /* Centrado */
    transition: width 0.4s ease-in-out; /* Animación suave */
    border: none; /* Quitar borde por defecto del <hr> */
}

section:hover .divisor{
    width: 100%; /* Se agranda al pasar el mouse */
    background-color: var(--colorLineasSecciones); /* Opcional: cambia color */;
}

/* Listas: */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* display: flexbox; */
    position: center;
}

li {
    padding-top: 2%;
    padding-bottom: 2%;
}

/* Links: */

a {
    color: var(--colorLinks);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    font-size: 14px;
    background-color: var(--colorFondoCabeceraYPie);
}

/* Texto del pie de página: */

.pie-pagina {
    color: white;
}

/* Responsividad: */

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 16px;
}

@media (max-width: 600px) {
    h1{
        font-size: 1.6rem;
    }

    nav a {
        display: inline-block; margin-bottom: 8px;
    }
}